body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}
header {
    background-color: #F5F5F6;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.headerMain {
    display: flex;
    justify-content: space-between;
    width: 950px;
    align-items: center;
}

.headerMain li {
    display: inline;
    font-size: 11px;
}
.headerMain li a {
    color: #959BA4;
    text-decoration: none;
    font-weight: 500;
    margin-right: 22px;
}
.headerMain li a:hover {
    color: #000000;
}

.headerMain button{
    width: 58px;
    height: 33px;
    background-color: white;
    font-weight: 500;
    border: 0px;
    border-radius: 4px;
    font-size: 11px;
}
main{
    width: 641px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;

}
.h1 {
    margin: 0;
}
h1{
    font-weight: 700;
    text-align: center;
    margin-top: 56px;
    font-size: 36px;
    margin-bottom: 33px;
    
}

.converterContainer{
    display: flex;
    justify-content: center;
}

.leftSection{
    width: 259px;
}
.rightSection{
    width: 259px;
}